body {
    margin: 0;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    text-align: center;
    background-color: slateblue;
    font-family: cursive;
}


#main {
    width: 400px;
    height: 280px;
    margin: 3rem auto;
    padding-top: 16px;
    background-color: aliceblue;
    border: 2px solid #333;
    border-radius: 5px;
}

input {
    width: 20%;
    height: 40px;
    font-size: 20px;
    margin: 6px;
}

#screen {
    width: 92%;
    height: 50px;
    background-color: silver;
}